{
    "openapi": "3.0.3",
    "info": {
        "title": "Incremental Search Suggestion Service",
        "version": "1.0.0",
        "description": "This is the endpoint for querying examples and completion suggestions\nof a dataset.\n\nColumns that are of type Text are eligible for suggestions and examples.\nThese columns are stored and indexed at ingestion so that\nquery results are returned quickly, near the speed of typing.\n\nOptions are sorted descending by score,\nwhich is the frequency of occurance in the column."
    },
    "servers": [
        {
            "url": "http://data.seattle.gov"
        }
    ],
    "paths": {
        "/views/{dataset}/columns/{column}/suggest?size={size}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "options": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "text": {
                                                        "type": "string"
                                                    },
                                                    "score": {
                                                        "type": "number"
                                                    }
                                                },
                                                "required": [
                                                    "text",
                                                    "score"
                                                ]
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "options": [
                                        {
                                            "text": "CROWN VICTORIA",
                                            "score": 9
                                        },
                                        {
                                            "text": "PRIUS",
                                            "score": 6
                                        },
                                        {
                                            "text": "F250",
                                            "score": 5
                                        },
                                        {
                                            "text": "F350",
                                            "score": 5
                                        },
                                        {
                                            "text": "NEON",
                                            "score": 4
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Suggest Examples API",
                "operationId": "Suggest Examples API",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "dataset",
                        "in": "path",
                        "description": "The dataset id",
                        "required": true,
                        "example": "gh64-vd9r",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "column",
                        "in": "path",
                        "description": "The column name",
                        "required": true,
                        "example": "model",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "size",
                        "in": "path",
                        "description": "The number of options to fetch",
                        "example": "5",
                        "schema": {
                            "type": "string",
                            "default": "10"
                        }
                    }
                ]
            }
        },
        "/views/{dataset}/columns/{column}/suggest/{text}?size={size}&fuzz={fuzz}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "options": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "text": {
                                                        "type": "string"
                                                    },
                                                    "score": {
                                                        "type": "number"
                                                    }
                                                },
                                                "required": [
                                                    "text",
                                                    "score"
                                                ]
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "options": [
                                        {
                                            "text": "ASTRO",
                                            "score": 4
                                        },
                                        {
                                            "text": "ASPHALT TANKER",
                                            "score": 1
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Suggest Matches API",
                "operationId": "Suggest Matches API",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "dataset",
                        "in": "path",
                        "description": "The dataset id",
                        "required": true,
                        "example": "gh64-vd9r",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "column",
                        "in": "path",
                        "description": "The column name",
                        "required": true,
                        "example": "model",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "text",
                        "in": "path",
                        "description": "The query text to suggest completions",
                        "required": true,
                        "example": "astr",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "size",
                        "in": "path",
                        "description": "The number of options to fetch",
                        "example": "5",
                        "schema": {
                            "type": "string",
                            "default": "10"
                        }
                    },
                    {
                        "name": "fuzz",
                        "in": "path",
                        "description": "The max Levenshtein Edit Distance",
                        "example": "2",
                        "schema": {
                            "type": "string",
                            "default": "0",
                            "enum": [
                                "0",
                                "1",
                                "2",
                                "AUTO"
                            ]
                        }
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {}
    },
    "tags": []
}